.main_container{
    margin: 0px 50px;
}

.main_container header{
    height: auto;
}

.main_container .books{
    height: 80vh;
    max-width: 800px;
    background-color: aquamarine;
    display: grid;
    grid-template: 150px 150px / auto auto auto auto;
}

.not_read{
    background-color: rgb(183, 190, 196);
}

.modal_form{
    display: none;
    position: fixed;
    z-index: 1;
    left: 900px;
    top: 150px;
}

.main_container #addBookBtn{
    position: fixed;
    left: 900px;
    top: 100px;
}